body {
    background-color: rgb(20, 118, 209);
}

#Titulazo {
    background-image: url(imagenes/fondo.jpg);
}

#Titulo {
    text-align: center;
    text-decoration-line: underline;
}

#menu {
    text-align: right;
}

#Esse {
    color: red;
}

#essetext {}