* {
    box-sizing: border-box;
}

.contenedor {
    background-color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
    padding: 1rem;
}

.contenedor div {
    background-color: chartreuse;
    border: 1px solid pink;
    height: 100px;
    padding: 1rem;
    width: 200px;
}