*{
    box-sizing: border-box;
}

.contenedor {
background-color: blue;
display: flex;
flex-wrap:  wrap;
justify-content: space-between;
height: 200px;
margin: 20 px auto;
padding: 10px;
width: 60%;
}

.contenedor div {
    background-color:red;
    border: 1px solid black;
    height: 50px;
}