.contenedor{
    height:240px;
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
    background-color: blue;
}


.elementos {
    width: 25%;
    border: 1px solid black;
    background-color: red;
}

.elementos:nth-child(1){
    flex-grow: 9;
}