*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedores{
    width: 80%;
    height: 500px;
    background: #FF5C29;
    margin:50px auto;
    display: flex;
   justify-content: center;
    align-items: flex-end;
    
}

.hijo1{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin:30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

.hijo2{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin:30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

.hijo3{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin:30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

.hijo4{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin:30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}

.hijo5{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin:30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}


.hijo6{
    background: #00B285;
    width: 200px;
    height: 100px;
    color: #fff;
    margin:30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
}
