body {
    text-shadow: 1px 1px 2px black;
    background-color: darkkhaki;
}

h1 {
    color: white;
    text-align: center;
    box-shadow: 10px 5px 10px 5px black;
}

#respuestas {
    text-align: center;
    border-radius: radius
}

input {}